header {
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}